header.header
    nav.navbar#nav  
        a.nav-home(href='/')
            i.fa-solid.fa-pen-nib 
        a#nav-id.dropdown-toggle Menu
        ul.dropdown-menu1.hidden
            li: a#menu-link.account(href='/account') Account
            li: a#menu-link.contact(href='/contactUs') Contact Us 
            li: a#menu-link.logout Log Out
        a#nav-id-bars.dropdown-toggle.hidden
            i.fa-solid.fa-bars
        ul.dropdown-menu2.hidden
            li: a#menu-link.account(href='/account') Account
            li: a#menu-link.contact(href='/contactUs') Contact Us 
            li: a#menu-link.logout-mobile Log Out
    