doctype html 
html
    head 
        block head
            meta(charset='UTF-8')
            meta(name='viewport' content='width=device-width, initial-scale=1.0')
            link(rel='shortcut icon' type='/image/ico' href='/img/favicon.ico')
            link(rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png")
            link(rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png")
            link(rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png")
            script(src='https://kit.fontawesome.com/6e0d4f4b9c.js' crossorigin='anonymous')
            link(rel='stylesheet' href='/css/style.css')
            title Note It | #{title}
    body
        //- HEADER
        include _header

        //- CONTENT
        block content   
            h1 This is a placeholder heading.

        //- FOOTER
        include _footer
        script(src='/js/bundle.js')