extends base  

block content 
    main.main 
        
        h1.title Something went wrong! 
        p.text #{msg}
        p.text Click the Home button in the top left corner to return to the home page.