extends base  

block content 
    main.main 
        h1.title Forgot your password?
        p.text Enter your email and click submit and a reset password link will be sent to your email.
        form#forgot-password-form  
            .form-group 
                label.form-label(for='email-forgot') Email
                input#email-forgot.form-input(type='email' required)
            .form-group 
                button.btn.btn-forgot Submit