extends base 

block content 
    main.main 
        h1.title Reset your password.
        form#reset-password-form   
            .form-group 
                label.form-label(for='password') Password 
                .password
                    input#reset-password.form-input(type='password' required minlength='8')
                    i#togglePasswordReset.fa-regular.fa-eye-slash
            .form-group 
                label.form-label(for='passwordConfirm') Confirm Password
                input#reset-passwordConfirm.form-input(type='password' required)
            .form-group 
                button.btn.btn-reset Submit