extends base   

block content 
    main.main
        h1.title Congratulations you have successully reset your password! 
        p.text Please log in to continue creating notes.
        a.btn(href='/login') Log In