extends base   

block content 
    main.main 
        .container 
            h1.title Email Sent! 
            p.text Your email was successfully sent. We will get back to you as soon as possible.
            p.text Return to the home page to continue making notes.
            a.btn.btn-home(href='/') Home