extends base   

block content 
    main.main.activate-main
        h1.title Congratulations you have successully activated your Note It account! 
        p.text Please log in to start creating notes.
        a.btn(href='/login') Log In